/config
src/**/*.ts
!src/**/*.d.ts
src/__tests__/*

*.log
*.tgz
scripts
tests
Jakefile.js
.editorconfig
.gitattributes
.gitignore
.settings/
.travis.yml
.vscode/
.npmignore
.tsfmt.json
tsconfig.json
tslint.json
